* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  margin-bottom: 2rem;
}
h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
